{
    "source": {
        "directories": [
            "src"
        ],
         "excludes": [
             "Migrations",
             "Kernel.php"
         ]
    },
    "logs": {
        "text": "infection.log"
    },
    "mutators": {
        "@default": true
    }
}
