includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon

parameters:
    level: 8
    paths:
        - src/
        - tests/
    excludePaths:
        - tests/fixtures/*.php
        - tests/bootstrap.php
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
    ignoreErrors:
        -
            message: '#^Property App\\Entity\\[a-zA-Z]+::\$id is (never written, only read|unused).$#'
            count: 1
            path: src/Entity/*
        -
            message: '#^Class App\\Repository\\[a-zA-Z]+Repository has PHPDoc tag @method for method find[a-zA-Z]+\(\) parameter \#[0-9]+ \$[a-zA-Z]+ with no value type specified in iterable type array.$#'
            count: 2
            path: src/Repository/*
