includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon

parameters:
    level: 8
    paths:
        - src/
        - tests/
    excludePaths:
        - tests/fixtures/*.php
        - tests/bootstrap.php
    symfony:
        container_xml_path: var/cache/dev/App_KernelDevDebugContainer.xml
    ignoreErrors:
        -
            message: '#^Property App\\Entity\\[a-zA-Z]+::\$id is (never written, only read|unused).$#'
            count: 1
            path: src/Entity/*
