@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '@fortawesome/fontawesome-free/css/all';

body {
    @apply bg-gray-300 font-sans text-gray-700;
}

.github-ribbon {
    @apply absolute top-0 right-0 z-0;
}

header {
    @apply bg-gray-500 text-gray-800 border-b-2 border-gray-400;

    div.container {
        @apply mx-auto px-5 py-3 flex justify-between;
    }

    h1 {
        @apply text-2xl inline mr-3 font-bold;
        font-family: 'Space Mono', monospace;
    }

    span {
        @apply text-gray-700 text-sm;
    }

    a {
        @apply text-gray-200 text-lg font-bold bg-gray-600 rounded px-2 py-1;

        &:hover {
            @apply bg-gray-700;
        }
    }
}

.editor-container {
    @apply p-10 bg-gray-100 border-b border-gray-400;

    .container {
        @apply px-5 mx-auto mt-10;

        div {
            @apply bg-gray-500 p-3 rounded-lg text-2xl flex;
        }

        button {
            @apply bg-gray-400 flex-none px-4 py-2 font-bold;
        }
        button:hover {
            @apply bg-gray-300;
        }

        button.permalink-create {
            @apply rounded-l;
        }

        input {
            @apply px-4 py-2 flex-1;
        }

        button.permalink-copy {
            @apply rounded-r;
        }

        span {
            @apply text-gray-600 pl-3;
        }
    }
}

.editor-wrapper {
    @apply bg-gray-400 p-4 rounded-lg shadow-lg border-b-8 relative z-10;

    &.complexity-level-low {
        @apply border-green-500;
    }
    &.complexity-level-moderate {
        @apply border-yellow-500;
    }
    &.complexity-level-high {
        @apply border-orange-500;
    }
    &.complexity-level-very-high {
        @apply border-red-500;
    }

    h2 {
        @apply pb-4 font-bold text-xl;
    }

    .copy-editor {
        @apply float-right text-gray-600 cursor-pointer;
    }
    .copy-editor:hover {
        @apply text-gray-700;
    }

    .editor {
        @apply bg-white text-white;
        min-height: 400px;
    }

    .metrics {
        @apply flex justify-between mt-4;

        .complexity-badge {
            @apply inline-flex;

            .metric {
                @apply text-white text-4xl font-bold py-2 px-4 rounded-l;
            }
            .complexity-level-low {
                @apply bg-green-500;
            }
            .complexity-level-moderate {
                @apply bg-yellow-500;
            }
            .complexity-level-high {
                @apply bg-orange-500;
            }
            .complexity-level-very-high {
                @apply bg-red-500;
            }

            .label {
                @apply bg-white py-2 px-4 rounded-r;

                span {
                    @apply font-bold text-xl;
                }
            }
        }

        button {
            @apply text-4xl text-gray-600 font-bold py-2 px-4 rounded;
        }
        button:hover {
            @apply text-gray-700;
        }
    }
}

.notes {
    @apply px-5 mx-auto pt-8;

    h3 {
        @apply text-xl font-bold;
    }

    .complexity-bar {
        @apply text-center my-4 pb-2 rounded-lg;
        background: linear-gradient(
            to right,
            theme('colors.green.500') 19%,
            theme('colors.yellow.500') 27%,
            theme('colors.yellow.500') 46%,
            theme('colors.orange.500') 54%,
            theme('colors.orange.500') 73%,
            theme('colors.red.500') 81%
        );

        .complexity-bar-inner {
            @apply flex leading-tight;

            div {
                @apply flex-1 mr-1 bg-white bg-opacity-85 py-2;
            }
            div:first-child {
                @apply rounded-tl-lg;
            }
            div:last-child {
                @apply mr-0 rounded-tr-lg;
            }

            span {
                @apply font-bold text-xl;
            }
        }
    }
}

footer {
    @apply mx-auto text-center pt-5 px-5 pb-10 text-gray-600;

    p {
        @apply my-4 text-gray-600;
    }
}
