{% extends 'layout.html.twig' %}

{% block navigation %}
    {{ parent() }}
    <a class="editor-reset" href="/"><i class="fa fa-times-circle"></i> Reset Editors</a>
{% endblock %}

{% block content %}
    <div class="editor-container">
        {% if missing_diff %}
            <div class="missing-diff">
                <i class="fa fa-exclamation-triangle"></i>
                The complexity diff you are looking for doesn't exist.
            </div>
        {% endif %}
        <div class="grid lg:grid-cols-2 md:grid-cols-1 gap-4">
            {{ include('_editor.html.twig', {number: 1, identifier: 'js-editor-left', snippet: diff.snippetLeft|default(null)}) }}
            {{ include('_editor.html.twig', {number: 2, identifier: 'js-editor-right', snippet: diff.snippetRight|default(null)}) }}
        </div>
        <div class="container share">
            <div>
                <button class="js-permalink-create permalink-create" title="Click to create permalink">Share Complexity Diff</button>
                <input type="text" readonly="readonly" class="js-permalink-input"
                       placeholder="&lArr; Click share button to generate permalink to this complexity diff ..."
                       value="{{ diff ? url('decomplex_permalink', {id: diff.id}) }}" />
                <button class="js-permalink-copy permalink-copy" title="Click to copy permalink"><i class="fa fa-copy"></i></button>
            </div>
            <span>
                Please be aware that your code snippets get stored on server-side while using this feature,
                but it's not used for some crazy AI stuff or anything else than the permalink.
            </span>
        </div>
    </div>
    <div class="notes container">
        <h3>Complexity Levels</h3>
        <div class="complexity-bar">
            <div class="complexity-bar-inner">
                <div>
                    <span>Low</span><br />0 &dash; 4
                </div>
                <div>
                    <span>Moderate</span><br />4 &dash; 7
                </div>
                <div>
                    <span>High</span><br />7 &dash; 10
                </div>
                <div>
                    <span>Very High</span><br />> 10
                </div>
            </div>
        </div>
        <h3 class="pt-6">Cyclomatic Complexity</h3>
        <p class="my-4">
            Cyclomatic complexity is computed using the control flow graph of the program: the nodes of the graph
            correspond to indivisible groups of commands of a program, and a directed edge connects two nodes if
            the second command might be executed immediately after the first command. Cyclomatic complexity may
            also be applied to individual functions, modules, methods or classes within a program.
            <a class="underline" href="https://en.wikipedia.org/wiki/Cyclomatic_complexity" target="_blank">See Wikipedia for more information.</a>
        </p>
        <p>
            To measure or enforce cyclomatic complexity limits in your application see
            <a class="underline" href="https://github.com/sebastianbergmann/phploc" target="_blank">PHPLOC</a> or
            <a class="underline" href="https://phpmd.org/" target="_blank">PHP Mess Detector</a>.
        </p>
        <h3 class="pt-8">Cognitive Complexity</h3>
        <p class="my-4">
            Cognitive Complexity is a measure of how difficult a unit of code is to intuitively understand. Unlike
            Cyclomatic Complexity it was formulated with the primary goal of calculating method scores that more
            accurately reflect methods’ relative understandability, and with secondary goals of addressing modern
            language constructs and producing metrics that are valuable above the method level.
            <a class="underline" href="https://www.sonarsource.com/docs/CognitiveComplexity.pdf" target="_blank">See SonarSource's Whitepaper for more information.</a>
        </p>
        <p>
            To enforce cognitive complexity limits in your application with <a href="https://phpstan.org/" target="_blank">PHPStan</a> see
            <a class="underline" href="https://www.tomasvotruba.com/blog/2018/05/21/is-your-code-readable-by-humans-cognitive-complexity-tells-you/" target="_blank">Tomas Votruba's blog post</a>.
        </p>
    </div>
{% endblock %}
