<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Complexity Diff - enhance your PHP code</title>
        {{ encore_entry_link_tags('app') }}
    </head>
    <body class="bg-gray-300 font-sans text-gray-700">
        <a href="https://github.com/chr-hertel/complexity-diff" class="absolute top-0 right-0" target="_blank">
            <img width="149" height="149" src="https://github.blog/wp-content/uploads/2008/12/forkme_right_darkblue_121621.png?resize=149%2C149"
                 alt="Fork me on GitHub" data-recalc-dims="1">
        </a>
        <div class="bg-gray-500 text-gray-800 shadow">
            <div class="container mx-auto py-3 flex justify-between">
                <h1 class="text-2xl"><strong>Complexity Diff</strong> - enhance your PHP code</h1>
                <a href="/" class="text-gray-200 text-lg font-bold bg-gray-600 hover:bg-gray-700 rounded px-2 py-1"><i class="fa fa-times-circle"></i> Reset Editors</a>
            </div>
        </div>
        <div class="container mx-auto my-10">
            <div class="grid lg:grid-cols-2 md:grid-cols-1 gap-4">
                {{ include('_editor.html.twig', {number: 1, identifier: 'js-editor-left', code_sample: code_sample_left}) }}
                {{ include('_editor.html.twig', {number: 2, identifier: 'js-editor-right', code_sample: code_sample_right}) }}
            </div>
            <div class="m-5">
                SHARE
            </div>
            <p class="my-4 p-2">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
                ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
                dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </p>
        </div>
        <footer class="text-center py-5 text-gray-500">
            Made with ♥ in Berlin by <a class="underline" href="//twitter.com/el_stoffel" target="_blank">@el_stoffel</a>
        </footer>
        {{ encore_entry_script_tags('app') }}
    </body>
</html>
