{% extends 'layout.html.twig' %}

{% block content %}
    <div class="editor-container mx-auto pt-14 pb-8">
        <h1 class="text-3xl font-bold">Whoops, sorry!</h1>
        <h2 class="text-xl text-gray-500 mt-2 mb-5">We just ran into an error.</h2>
        <p>
            We're sorry that you ended up here and hope that it is more or less you fault, but
            the chances are good that this is not the case.
        </p>
        <p>
            In case you want to help us fix those real issues, please go to
            <a class="underline" href="https://github.com/chr-hertel/decomplex/issues">Github</a>
            and open an issue with details about the situation.
        </p>
    </div>
{% endblock %}
